/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-banner {
    background-color: #000;

    .c-banner__content {
        display: flex;
        align-items: center;
    }

    .c-banner__btns {
        display: flex;

    }

}
