/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-cost {
    padding: 100px 0 84px;
    background: #f4f6ed;
    background-image: url("../../assets/img/arrow-bg.png");
    background-size: 1358px;

    .c-cost__title {
        color: #008037;
    }

    .c-cost__subtitle {
        color: #000;
        font-size: 1.6rem;
        font-weight: 400;
    }
    
}
